.character {
  text-align: center;
  width: 15rem;
  display: inline-block;
  margin: 0.5rem; }
  .character p {
    font-size: 1.5rem;
    padding-bottom: 0.5rem; }
  .character img {
    margin-top: 1rem;
    border-radius: 25%;
    height: 200px;
    width: auto; }

.donatello {
  background-image: linear-gradient(#7c82b2, #4a507e, #08090e); }
  .donatello:hover {
    background-image: linear-gradient(#b2ac7c, #7e784a, #0e0d08); }
  .donatello:hover .donatello-text {
    color: rgba(189, 210, 32, 0.8); }
  .donatello-text {
    color: #707b5f; }
  .donatello img {
    transition: margin 1s, border-radius 1s, transform 1s, border 1s; }
    .donatello img:hover {
      margin-top: 5rem;
      border-radius: 50%;
      border: 10px solid green;
      transform: rotate3d(10, 0, 0, 360deg); }

.raphael {
  background-image: linear-gradient(#e19797, #cb4747, #4a1515);
  border: 5px solid green; }
  .raphael:hover {
    background-image: linear-gradient(#97e1e1, #47cbcb, #154a4a); }
  .raphael:hover .raphael-text {
    color: rgba(175, 49, 49, 0.8); }
  .raphael-text {
    color: #c24040; }

.leonardo {
  background-image: linear-gradient(#36b0f8, #077cc1, #010d15); }
  .leonardo:hover {
    background-image: linear-gradient(#f87e36, #c14c07, #150801); }
  .leonardo:hover .leonardo-text {
    color: rgba(193, 186, 235, 0.8); }
  .leonardo-text {
    color: #4591cf; }

.michelangelo {
  background-image: linear-gradient(#e6c08d, #d3913a, #4a3111); }
  .michelangelo:hover {
    background-image: linear-gradient(#8db3e6, #3a7cd3, #11294a); }
  .michelangelo:hover .michelangelo-text {
    color: rgba(60, 171, 96, 0.8); }
  .michelangelo-text {
    color: #a19a47; }
  @media screen and (min-width: 800px) {
    .michelangelo {
      display: none; } }
