.women-of-the-marvel-universe {
  content: "women-of-the-marvel-universe"; }

.women-of-the-marvel-universe-text {
  color: #989898; }

.women-of-the-marvel-universe-cape {
  color: #8465d9; }

img {
  border: 1px dotted red; }

.elektra {
  color: blue;
  border: 1px solid purple;
  font-size: 36px; }

.fancy {
  color: red; }
