.spiderman {
    padding: 1rem 2rem;
    transition: transform .8s ease-in-out;
}

.spiderman-container {
    background-color: #dbbebe;
}

.spiderman-container:hover .spiderman {
    transform: rotate(180deg);
}

.spiderman::before {
    display: block;
    content: url("http://www.gifs-paradise.com/animations/animated-gifs-spiders-147.gif");
}

.spiderman img {
    transition: transform .8s ease-in-out;
}

.spiderman img:hover {
    transform: rotate(360deg);
}

.spiderman .description {
    color: darkred;
    text-align: center;
    margin-top: 1rem;
}

.spiderman .description .header {
    font-size: 2rem;
}

.spiderman .description-link {
    text-decoration: none;
}

.spiderman .description-link::after {
    content: url("http://www.hkpro.com/forum/customavatars/avatar11229_2.gif");
    display: inline-block;
    vertical-align: middle;
}